@media (max-width: 1024px) {}
@media (max-width: 768px) {

	.RegisterSec {
	    padding: 13% 0 5% 0;
	}
}
@media (max-width: 540px) {
	.bannerText span {
	    font-size: 30px;
	    line-height: 45px;
	}
	header {
	    padding: 10px 0;
	    position: relative;
	}
	.playbtn a {
	    margin: 20px auto;
	}
	.FormMain .form-select {
	    font-size: 20px;
	}
	.FormMain .form-control {
	    font-size: 20px;
	}
	.ten_1 h1 {
	    font-size: 20px;
	    line-height: 25px;
	    margin: 0;
	}
	.ten_4 {
	    
	}
	.contact_1 h1 {
	    font-size: 20px;
	    line-height: 25px;
	    margin: 0;
	}
	.icon_1 {
	    width: 40px;
	    height: 40px;
	    margin-right: 14px;
	}
	.icon_1 i {
	    color: #e5e5e5;
	    font-size: 13px;
	}
	.contact_2 input {
	    font-size: 15px;
	    line-height: 20px;
	    height: 49px;
	    margin: 0 0 20px;
	}
	.contact_4 button {
	    width: 50%;
	    height: 43px;
	    font-size: 13px;
	}
	.copy_1 h4 {
	    font-size: 13px;
	    margin: 0px 0 0px;
	    line-height: 27px;
	}
	.copy_1 h4 a {
	    font-size: inherit;
	    margin: 0px 0 0px;
	}

	.foter_sec2 h6 {
	    font-size: 15px;
	    line-height: 25px;
	    margin: 0 0 17px;
	}
	.navigation ul {
	    text-align: center;
	}

	.registerForm {
	    width: 100%;
	}
	table.dataTable tbody th, table.dataTable tbody td {
	    font-size: 11px;
	}

	table.dataTable thead th, table.dataTable thead td {
	    padding: 10px 10px;
	    font-size: 9px;
	}


	.dataTables_wrapper .dataTables_paginate .paginate_button {
	    padding: 5px 3px;
	}
	.RegisterSec {
	    padding: 10% 0 5% 0;
	}
	.navigation ul li a {
	    font-size: 12px;
	}
	.registerForm span {
	    font-size: 14px;
	}
	.registerForm .btn-primary {
	    font-size: 13px;
	}
}
@media (max-width: 360px) {
	.bannerText span {
	    font-size: 30px;
	    line-height: 45px;
	}
	header {
	    padding: 10px 0;
	    position: relative;
	}
	.playbtn a {
	    margin: 20px auto;
	}
	.FormMain .form-select {
	    font-size: 20px;
	}
	.FormMain .form-control {
	    font-size: 20px;
	}
	.ten_1 h1 {
	    font-size: 20px;
	    line-height: 25px;
	    margin: 0;
	}
	.ten_4 {
	    
	}
	.contact_1 h1 {
	    font-size: 20px;
	    line-height: 25px;
	    margin: 0;
	}
	.icon_1 {
	    width: 40px;
	    height: 40px;
	    margin-right: 14px;
	}
	.icon_1 i {
	    color: #e5e5e5;
	    font-size: 13px;
	}
	.contact_2 input {
	    font-size: 15px;
	    line-height: 20px;
	    height: 49px;
	    margin: 0 0 20px;
	}
	.contact_4 button {
	    width: 50%;
	    height: 43px;
	    font-size: 13px;
	}
	.copy_1 h4 {
	    font-size: 13px;
	    margin: 0px 0 0px;
	    line-height: 27px;
	}
	.copy_1 h4 a {
	    font-size: inherit;
	    margin: 0px 0 0px;
	}

	.foter_sec2 h6 {
	    font-size: 15px;
	    line-height: 25px;
	    margin: 0 0 17px;
	}
	.navigation ul {
	    text-align: center;
	}

	.registerForm {
	    width: 100%;
	}
	table.dataTable tbody th, table.dataTable tbody td {
	    font-size: 11px;
	}

	table.dataTable thead th, table.dataTable thead td {
	    padding: 10px 10px;
	    font-size: 9px;
	}


	.dataTables_wrapper .dataTables_paginate .paginate_button {
	    padding: 5px 3px;
	}
	.RegisterSec {
	    padding: 10% 0 5% 0;
	}
	.navigation ul li a {
	    font-size: 12px;
	}
	.registerForm span {
	    font-size: 14px;
	}
	.registerForm .btn-primary {
	    font-size: 13px;
	}
}
@media (max-width: 425px) {
	.bannerText span {
	    font-size: 30px;
	    line-height: 45px;
	}
	header {
	    padding: 10px 0;
	    position: relative;
	}
	.playbtn a {
	    margin: 20px auto;
	}
	.FormMain .form-select {
	    font-size: 20px;
	}
	.FormMain .form-control {
	    font-size: 20px;
	}
	.ten_1 h1 {
	    font-size: 20px;
	    line-height: 25px;
	    margin: 0;
	}
	.ten_4 {
	    
	}
	.contact_1 h1 {
	    font-size: 20px;
	    line-height: 25px;
	    margin: 0;
	}
	.icon_1 {
	    width: 40px;
	    height: 40px;
	    margin-right: 14px;
	}
	.icon_1 i {
	    color: #e5e5e5;
	    font-size: 13px;
	}
	.contact_2 input {
	    font-size: 15px;
	    line-height: 20px;
	    height: 49px;
	    margin: 0 0 20px;
	}
	.contact_4 button {
	    width: 50%;
	    height: 43px;
	    font-size: 13px;
	}
	.copy_1 h4 {
	    font-size: 13px;
	    margin: 0px 0 0px;
	    line-height: 27px;
	}
	.copy_1 h4 a {
	    font-size: inherit;
	    margin: 0px 0 0px;
	}

	.foter_sec2 h6 {
	    font-size: 15px;
	    line-height: 25px;
	    margin: 0 0 17px;
	}
	.navigation ul {
	    text-align: center;
	}

	.registerForm {
	    width: 100%;
	}
	table.dataTable tbody th, table.dataTable tbody td {
	    font-size: 11px;
	}

	table.dataTable thead th, table.dataTable thead td {
	    padding: 10px 10px;
	    font-size: 9px;
	}


	.dataTables_wrapper .dataTables_paginate .paginate_button {
	    padding: 5px 3px;
	}
	.RegisterSec {
	    padding: 10% 0 5% 0;
	}
	.navigation ul li a {
	    font-size: 12px;
	}
	.registerForm span {
	    font-size: 14px;
	}
	.registerForm .btn-primary {
	    font-size: 13px;
	}
}
@media (max-width: 375px) {

	.bannerText span {
	    font-size: 30px;
	    line-height: 45px;
	}
	header {
	    padding: 10px 0;
	    position: relative;
	}
	.playbtn a {
	    margin: 20px auto;
	}
	.FormMain .form-select {
	    font-size: 20px;
	}
	.FormMain .form-control {
	    font-size: 20px;
	}
	.ten_1 h1 {
	    font-size: 20px;
	    line-height: 25px;
	    margin: 0;
	}
	.ten_4 {
	    
	}
	.contact_1 h1 {
	    font-size: 20px;
	    line-height: 25px;
	    margin: 0;
	}
	.icon_1 {
	    width: 40px;
	    height: 40px;
	    margin-right: 14px;
	}
	.icon_1 i {
	    color: #e5e5e5;
	    font-size: 13px;
	}
	.contact_2 input {
	    font-size: 15px;
	    line-height: 20px;
	    height: 49px;
	    margin: 0 0 20px;
	}
	.contact_4 button {
	    width: 50%;
	    height: 43px;
	    font-size: 13px;
	}
	.copy_1 h4 {
	    font-size: 13px;
	    margin: 0px 0 0px;
	    line-height: 27px;
	}
	.copy_1 h4 a {
	    font-size: inherit;
	    margin: 0px 0 0px;
	}

	.foter_sec2 h6 {
	    font-size: 15px;
	    line-height: 25px;
	    margin: 0 0 17px;
	}
	.navigation ul {
	    text-align: center;
	}

	.registerForm {
	    width: 100%;
	}
	table.dataTable tbody th, table.dataTable tbody td {
	    font-size: 11px;
	}

	table.dataTable thead th, table.dataTable thead td {
	    padding: 10px 10px;
	    font-size: 9px;
	}


	.dataTables_wrapper .dataTables_paginate .paginate_button {
	    padding: 5px 3px;
	}
	.RegisterSec {
	    padding: 10% 0 5% 0;
	}
	.navigation ul li a {
	    font-size: 12px;
	}
	.registerForm span {
	    font-size: 14px;
	}
	.registerForm .btn-primary {
	    font-size: 13px;
	}
}